<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
  <% if not @brewery.active %>
    <span class="label label-info">retired</span>
  <% end %>
</p>
<p><i>Established in <%= @brewery.year %></i></p>
<p>Number of beers: <%= @brewery.beers.count %></p>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

<p>Beers: 
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, "#{beers_path}/#{beer.id}" %> |
 <% end %>
</p>

<p>Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average: <%= @brewery.average_rating %></p>

<%= edit_and_destroy_buttons(@brewery) %>
